# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log
.npm/
dist/
.cache/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Project specific
lanmap_tmp/
network_map.txt

